
$Raleway-font: 'Raleway', sans-serif;

$default-font-color: #444444;
$contrast-font-color: white;
$growth-green-color: #33CC66;
$growth-calm-color: #00B482;
$growth-darker-color: #006E42;

body {
  background-color: rgba(255,255,255);
  font-family: $Raleway-font;
  font-weight: 500;
  font-size: 1rem;

  h2, h3, h4 {
    font-family: $Raleway-font;
    color: #333333;
  }

  p, ul li {
    font-family: $Raleway-font;
  }

  .wrapper {
    border: 1px white;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    padding: 0px 0px;
  }

  .content-wrapper {
    border: 1px white;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    padding: 0px 0px;
  }
}


.growth-style {
  color: $growth-calm-color;

  &.bold {
    font-weight: bold;
  }
}

// .barbell-img {
//   max-height: 100%;
//   width: 100%;
//   &.mb-zero {
//     margin-bottom: 0px;
//   }
// }

  .navbar {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: $Raleway-font;
  
    .navBrand {
      padding: 10px 50px;
    }
  
    .navInfo {
      display: flex;
      justify-content: center;
    }
  
    .navLink {
      padding: 10px 30px;
      margin: 0px 10px;
      color: black !important;

      &:hover {
        color: $growth-calm-color !important;
      }
    }
  }

  .card {
    min-height: 400px;
    width: 100%;
    transition: 0.3s;
    border: none;

    .card-body {
      h4, p, ul li {
        color: $contrast-font-color;
      }
    }
  
    &:hover {
      transform: translate(0px, -10px)
    }

    &.pose-hold {
      background: 
        linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)),
        url('../images/pose-hold.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.pose-front {
      background: 
        linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)),
        url('../images/pose-front.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.pose-pull {
      background: 
        linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)),
        url('../images/pose-pull.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    
  }

  .btn-transparent {
    position: relative;
    display: inline-block;
    width: 100%;
    color: $contrast-font-color;
    background: transparent;
    border: 1px solid $contrast-font-color;
    font-family: $Raleway-font;
    font-weight: 700;
    transition: background .3s ease-in-out;
  
    &:hover {
      background: #ffffff;
      color: $growth-calm-color;
    }
  }


  .heading {
    text-transform: uppercase;
  }
  
  .form-control {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
  }
  
  .btn-form {
    background-color: white;
    min-height: 50px;
    width: 50%;
    align-self: center;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 3px;
    font-family: $Raleway-font;
    font-weight: 700;
    text-transform: uppercase;
    transition: background .3s ease-in-out;
      &:hover {
        background: #ffffff;
        color: $growth-calm-color;
      }
  }


