$Raleway-font: 'Raleway', sans-serif;
$growth-calm-color: #00B482;

.frame {
  /* border: 1px solid whitesmoke; */
  border: none;
  // border-radius: 15px;
}

.btn-training {
  background-color: #ffffff;
  min-height: 50px;
  width: 50%;
  align-self: center;
  border: 1px solid black;
  border-radius: 3px;
  font-family: $Raleway-font;
  font-weight: 700;
  text-transform: uppercase;
  transition: background .3s ease-in-out;
    &:hover {
      background: #ffffff;
      color: $growth-calm-color;
    }
}