.footer {
  background-color: black;
  color: #85868c;
  min-height: 150px;
  font-size: 0.8rem;

  .stealth-style {
    color: #506D76
  }

  .question {
    color: white;
  }

  .anwser {
    color: #85868c;
  }
}