$Raleway-font: 'Raleway', sans-serif;

$default-font-color: #444444;
$contrast-font-color: white;
$growth-green-color: #33CC66;
$growth-calm-color: #00B482;
$growth-darker-color: #006E42;

.portrait {
  background-image: url('../../images/jakub-portret3.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  color: $contrast-font-color;
  bottom: 0;
  border-radius: 0px;
  min-height:100%;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0.7;
}

.info {
  position: absolute;
  left: 0;
  right: 0;
  top: 70vh;
  bottom: 0;
  margin-left: 10%;
  max-width: 70%;
  display: inline-block;

  h2, h3 {
    font-family: $Raleway-font;
    color: #f3f3f3;
  }
  .growth-darker {
    color: $growth-calm-color;
    font-weight: bold;
  }

  .btn-jumbo {
    width: 30%;
    color: #f3f3f3;
    background: transparent;
    border: 1px solid;
    font-family: $Raleway-font;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 400;
    transition: background 0.5s ease, color 0.5s ease, font-weight 0.5s ease;

    &:hover {
      background: white;
      border: 1px solid white;
      color: $growth-calm-color;
      font-weight: 800;
    }
  }
}
